.conteiner {
    width: 1110px;
    margin: 0 auto;
}
.clearfix-nav {
    width: 1110px;
    height: 94px;
    margin-bottom: 66px;
}
header {
    margin-bottom: 66px;
}
.linklogo {
    text-decoration: none;
    color: #515151;
}
.sitelogo {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    float: left;
    font-weight: 300;
    margin-top: 38px;
}
.sitelogo::first-letter {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #1ABC9C;
}
.clearfix-menu {
    float: right;
    width: 466px;
    margin-top: 44px;
}
.navigation {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    float: left;
    margin-right: 30px;
}
.linknav {
    text-decoration: none;
    color: black;
}
.last {
    margin-right: 0;
}
.linknav:hover {
    color: #1ABC9C;
}
.heading {
    text-transform: uppercase;
    font-size: 48px;
    color: #515151;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 90px;
}
h2:after {
    content: "";
    display: block;
    width: 164px;
    height: 8px;
    background-color: #1ABC9C;
    margin: 30px auto;
}
.clearfix-product-box {
    width: 100%;
    min-height: 680px;
    margin-bottom: 104px;
}
.boxproduct {
    float: left;
    width: 256px;
    margin-right: 24px;
    margin-bottom: 30px;
}
.imgproduct {
    display: block;
    background-color: #E9F0FD;
}
.product {
    width: 256px;
    height: 40px;
    background-color: #323232;
}
.link-product {
    text-decoration: none;
    float: left;
    line-height: 40px;
    padding-left: 12px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 190px;
    font-weight: 600;
}
.price {
    float: right;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 40px;
    line-height: 40px;
    font-weight: 600;
}
.price::before {
    content: "\0024";
}
.boxproduct:nth-last-child(4n + 1) {
    margin-right: 0;
}
.boxproduct:hover .product {
    background-color: rgba(26, 188, 156);
}
.boxarticle {
    display: inline-block;
    width: 350px;
    margin-right: 26px;
    margin-bottom: 46px;
}
.boxarticle:nth-last-child(3n + 1) {
    margin-right: 0;
}
.imgarticle {
    margin-bottom: 14px;
}
.heading-article {
    font-size: 18px;
    color: #555252;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 200%;
}
.heading-article:after {
    content: "";
    display: block;
    width: 136px;
    height: 4px;
    background-color: #1ABC9C;
    margin-left: 0;
    margin-top: 10px;
}
p {
    float: left;
    font-size: 14px;
    color: #555252;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 16px;
    line-height: 200%;
}
button {
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #4EC6AB;
    width: 162px;
    height: 52px;
    border: 0;
    border-radius: 4px;
}