html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.container {
    width: 900px;
    margin: 0 auto;
}
header { 
    padding-top: 76px;
    padding-bottom: 76px;
    text-align: center;
}
.site-navigation li {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}
.site-navigation li:not(:last-child) {
    margin-right: 125px;
}
a {
    text-decoration: none;
    color: #626262;
    font-size: 14px;
}
.hover:hover {
    color: #03A9F4;
}
.middle {
    display: inline-block;
    width: 420px;
    margin-right: 56px;
}
.middle:nth-child(2n) {
    margin-right: 0;
}
.underfoto {
    margin-top: 30px;
    font-size: 14px;
    color: #b4ad9e;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}
h2 {
    font-size: 30px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
}
.text {
    font-size: 14px;
    color: #626262;
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
    margin-bottom: 120px;
    line-height: 1.4em;
}
.button {
    padding-bottom: 70px;
}
button {
    font-size: 20px;
    color: #626262;
    font-family: 'Playfair Display', serif;
}
.loadmore {
    border: solid 1px;
    background-color: white;
    width: 162px;
    height: 60px;
}
.button {
    margin-left: 360px;
}