.container {
    max-width: 320px;
    margin: 0 auto;
}
@font-face {
    font-family: "Roboto";
    src: url(./font/Roboto/Roboto-Light.woff) format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url(./font/Montserrat/Montserrat-Bold.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
.banner {
    display: flex;
    height: 540px;
    background: url(../img/banner.png) no-repeat center black;
    background-size: cover;
    filter: contrast(1.2);
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 72px;
}
.navigation {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 38px;
}
.button-box {
    display: flex;
    width: 158px;
    justify-content: space-between;
    margin-bottom: 130px;
}
.log-in, .sign-up {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    border: 2px solid transparent;
    border-radius: 36px;
    padding: 5px 10px;
    transition-duration: 100ms;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.log-in:hover,
 .sign-up:hover {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 36px;
    padding: 5px 10px;
    transition-duration: 100ms;
    transition-timing-function: linear;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
.site-logo {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}
.site-logo:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.banner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-section-header {
    color: rgba(255, 255, 255, 255);
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 18px;
}
.banner-section-paragraph {
    width: 67.81%;
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 32px;
    text-align: center;
}
.banner-section-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.banner-section-link {
    background-color: rgb(255, 78, 80);
    border-radius: 36px;
    padding: 12px 40px;
}
.banner-section-link:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.align-self-center {
    display: flex;
    flex-direction: column;
}
.team-box-header {
    color: rgba(51, 51, 51, 255);
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
    text-align: center;
}
.team-1, .team-2, .team-3, .team-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-box {
    display: flex;
    width: 68.75%;
    min-height: 210px;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.image-box {
    width: 122px;
    height: 122px;
    margin-bottom: 1.5em;
    filter: contrast(1.1);
}
.image {
    border-radius: 50%;
}
.team-icon-image-1 {
    --color: rgb(255, 78, 80);
    --icon-image: url(/img/icon/128.png);
}
.team-icon-image-2 {
    --icon-image: url(./img/icon/155.png);
    --color: rgb(255, 165, 7);
}
.team-icon-image-3 {
    --icon-image: url(../img/icon/153.png);
    --color: rgb(28, 215, 173);
}
.team-icon-image-4 {
    --icon-image: url(/../module_9/img/icon/155.png);
    --color: rgb(78, 115, 219);
}
.team-name-link {
    text-decoration: none;
    color: rgba(51, 51, 51, 255);
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.team-name-link:hover {
    text-decoration: none;
    color: rgba(51, 51, 51, 255);
}
.team-icon-image-1::after, .team-icon-image-2::after, .team-icon-image-3::after, .team-icon-image-4::after{
    position: absolute;
    content: "";
    width: 32px;
    height: 32px;
    top: 92px;
    right: 28px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background: var(--icon-image) no-repeat center;
    background-color: var(--color);
}
.team-name {
    margin-bottom: 1em;
}
.footer-box {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
}
button {
    border-radius: 36px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 78, 80);
    padding: 12px 40px;
    color: rgb(255, 78, 80);
}
.team-paragraph {
    color: rgba(102, 102, 102, 255);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 123%;
    margin-bottom: 2em;
}
@media (min-width: 768px) {
.container {
max-width: 768px;
}
.navigation {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
}
.button-box {
    align-content: flex-end;
}
.align-self-center {
    flex-direction: row;
}
.team-1, .team-3, .team-2, .team-4 {
    flex-direction: row;
    align-items: baseline;
}

.team-box {
    min-width: 23.79%;
}
}

@media (min-width: 992px) {
    .container {
max-width: 992px;
}
}